body {
  background-color: rgba(214, 214, 216, 0.945);
}

.filter {
  border: 2px solid brown;
  border-radius: 5px;
  padding: 4px;
  position: relative;
  top: 80px;
  left: 140px;

}
.tablescroll {
  height: 200px;
  scroll-behavior: smooth;
  overflow-y: scroll;
  box-shadow: 1px 1px 12px black;
  border: 1px solid brown;
  border-radius: 5px;
  position: relative;
  top: 100px;
  display: flex;
  justify-content: center;
  background-color: rgba(165, 42, 42, 0.192);

}

table {
  text-align: center;
  /* border: 2px solid brown; */
  border-radius: 5px;
  /* background-color: rgba(165, 42, 42, 0.192); */
}


.edit {
  border: none;
 background-color: transparent;
 color: rgba(0, 0, 255, 0.815);
  

}
.edit:hover {
  cursor: pointer;
}

.delete {
  border: 2px solid brown;
  border-radius: 5px;
  
}
.delete:hover {
  border: 2px solid white;
  border-radius: 5px;
  background-color: rgba(165, 42, 42, 0.623);
  color: white;
  cursor: pointer;
}