.container {
    display: flex;
    width: 400px;
    height: 550px;
    background-color: whitesmoke;
    margin: 20px;
    padding: 0px;
    flex-direction: column;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid rgb(100, 100, 192);
    box-shadow: -1px 1px 10px black;

}
hr{
    color: red;
    border: 1px solid rgb(100, 100, 192);
    width: 400px;
    margin-left: -1px;
}
.title {
    margin-top: auto;
    display: flex;
    margin: auto 10px -10px 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title2 {
    margin-top: auto;
    display: flex;
    margin: auto 10px 10px 10px;
    color: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.title3 {
    margin-top: auto;
    display: flex;
    margin: auto 10px -10px 10px;
    color: gray;
    text-decoration: line-through;
    font-size: 15px;

}

.title4 {
    margin-top: auto;
    display: flex;
    margin: auto 10px 10px 10px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold';
}

.img {
    width: 400px;
    height: 340px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

.btn1 {
    width: 90px;
    height: 30px;
    background-color: blue;
    color: white;
    border:none;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    left: 15px;
    cursor: pointer;
}
.btn1:hover{
    color: white;
    background-color: rgb(15, 15, 75);
    transition: 1s ; 
}

.btn2 {
    width: 90px;
    height: 30px;
    background-color: blue;
    color: white;
    border:none;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    right: 15px;
    cursor: pointer;
}
.btn2:hover{
    color: white;
    transition: 1s ; 
    background-color: rgb(15, 15, 75);
}
.icons {
    display: flex;
    gap: 0px 30px;
    margin:  0px 15px;
    color: gray;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}
.bed {
    position: relative;
    left: 14px;

}
.car {
    position: relative;
    left: 28px;

}
.bath {
    position: relative;
    left: 20px;

}

.ruler {
    position: relative;
    left: 30px;

}
.bottomicons{
    display: flex;
    gap: 10px;
    position: relative;
    top: -52px;
    color: gray;
}
.alt {
    position: absolute;
    right: 100px;
    height: 40px;
    width: 25px;
    cursor:pointer;

}
.yurak {
    position: absolute;
    right: 40px;
    height: 40px;
    width: 25px;
    cursor: pointer;
}